<h2 style="margin: 0px">Build your Pool:</h2>
<div class="flex flex-row flex-wrap gap-4">
    {% for dice,dice_display in dice_types.items() %}
    <div class="flex flex-row flex-wrap border-white shadow-sm p-2 border-1 shadow-white justify-between items-center w-60">
        <div class="flex flex-col gap-0.5 ">
            <button id="dice-{{dice}}-up" class="bg-sky-500 hover:bg-sky-200 border-black size-12 text-white text-4xl" > ↑ </button>
            <button id="dice-{{dice}}-down" class="bg-sky-500 hover:bg-sky-200 border-black size-12 text-white text-4xl" > ↓ </button>
        </div>
        <label class="font-extrabold text-6xl text-white" id="dice-{{dice}}-count">
            0
        </label>
        {{dice_display|safe}}
    </div>
    {% endfor %}
    <div>
        <input type="checkbox" id="dice-keep-numbers" name="dice-keep-numbers">
        <label for="dice-keep-numbers">Keep Dice</label>
    </div>
    <div>
        <label for="dice-comment">Comment for Roll</label>
        <input type="text" id="dice-comment" name="dice-comment" class="text-black" value="">
    </div>
    <button id="roll-dice-button" class="bg-sky-500 hover:bg-sky-200 border-black size-12 text-white text-4xl" >Roll</button>
</div>
<div style="display:none">
    helper to build tailwindcss

    <div class="rombus pentagon bg-sky-500 size-20 sw-symbol-font"></div>
    <div class="bg-yellow-500 text-6xl text-white"></div>
    <div class="bg-red-500 text-6xl text-white"></div>
    <div class="bg-green-500 text-6xl text-white"></div>
    <div class="bg-purple-600 text-6xl text-white"></div>
    <div class="bg-black text-6xl text-white"></div>
    <div class="bg-white text-6xl text-white"></div>
</div> 
